#
# General compilation artifacts
#
Makefile.in
Makefile
.deps
.libs
*.moc
*.la
*.lo
*.o
*~
*.patch

#
# Top level objects
#
/acinclude.m4
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.files
/configure.in
/libtool
/stamp-h.in
/stamp-h1
/subdirs
/docs/en/taskjuggler.pdf
/docs/en/taskjuggler.ps
/docs/en/taskjuggler/
/i18n/TaskJugglerUI/tr.gmo
