<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ktjview_part" version="1">
<MenuBar>
  <Menu name="file">
    <Action name="file_open"/>
    <Action name="reload"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="file_open"/>
  <Action name="file_print"/>
  <Action name="zoomIn"/>
  <Action name="zoomOut"/>
  <Action name="zoomOriginal"/>
  <Action name="reload"/>
  <Separator/>
</ToolBar>
</kpartgui>
