[Desktop Entry]
Encoding=UTF-8
Name=TaskJuggler
Exec=TaskJuggler
GenericName=Project Management Software
Icon=taskjuggler
Type=Application
DocPath=taskjuggler/taskjuggler.html
Comment=Project Management Software
MimeType=application/x-tjp;application/x-tjx
InitialPreference=4
Categories=Qt;KDE;ProjectManagement
Terminal=0
