[Desktop Entry]
Encoding=UTF-8
Name=TaskJuggler
Exec=TaskJuggler
GenericName=Project Management Software
Icon=taskjuggler
Type=Application
DocPath=taskjuggler/taskjuggler.html
Comment=Project Management Software
Categories=Qt;KDE;ProjectManagement
Terminal=0
