<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ktjview2" version="18">
<MenuBar>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="filter"/>
  </Menu>
  <Menu name="gantt"><text>&amp;Gantt</text>
    <Action name="zoom_in"/>
    <Action name="zoom_out"/>
    <Action name="fit_to_page"/>
    <Separator/>
    <Action name="scale"/>
    <Separator/>
    <Action name="timeframe"/>
  </Menu>
</MenuBar>

<ToolBar name="ganttToolBar" noMerge="1"><text>Gantt Toolbar</text>
  <Action name="zoom_in"/>
  <Action name="zoom_out"/>
  <Action name="fit_to_page"/>
  <Action name="timeframe"/>
</ToolBar>

<ToolBar name="filterToolBar" noMerge="1"><text>Filter Toolbar</text>
  <Action name="filter_label"/>
  <Action name="filter_lineedit"/>
</ToolBar>
</kpartgui>
