<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ktjview2" version="28">
<MenuBar>
<!--
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="filter"/>
  </Menu>
-->
  <Menu name="gantt"><text>&amp;Gantt</text>
    <Action name="calendar_mode"/>
    <Separator/>
    <Action name="zoom_in"/>
    <Action name="zoom_out"/>
    <Action name="fit_to_page"/>
    <Separator/>
    <Action name="scale"/>
    <Separator/>
    <Action name="timeframe"/>
  </Menu>
  <Menu name="resource"><text>&amp;Resources</text>
    <Menu name="show_outline"><text>&amp;Outline</text>
        <Action name="collapse_all"/>
        <Separator/>
        <Action name="outline_1"/>
        <Action name="outline_2"/>
        <Action name="outline_3"/>
        <Action name="outline_4"/>
        <Action name="outline_5"/>
        <Action name="outline_6"/>
        <Action name="outline_7"/>
        <Action name="outline_8"/>
        <Action name="outline_9"/>
        <Separator/>
        <Action name="expand_all"/>
    </Menu>
    <Action name="filter_for_resources"/>
  </Menu>
  <Menu name="tasks"><text>&amp;Tasks</text>
    <Action name="filter_for_tasks"/>
  </Menu>
</MenuBar>

<ToolBar name="sidebar" position="left" iconSize="32" iconText="icontextbottom" noEdit="true"><text>Sidebar</text>
  <Action name="sidebar_info"/>
  <Action name="sidebar_gantt"/>
  <Action name="sidebar_resources"/>
  <Action name="sidebar_tasks"/>
</ToolBar>

<ToolBar name="ganttToolBar" noMerge="1"><text>Gantt Toolbar</text>
  <Action name="calendar_mode"/>
  <Action name="zoom_in"/>
  <Action name="zoom_out"/>
  <Action name="fit_to_page"/>
  <Action name="timeframe"/>
</ToolBar>

<ToolBar name="filterToolBar" noMerge="1"><text>Quick Search Toolbar</text>
  <Action name="quick_search"/>
</ToolBar>
</kpartgui>
