<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ktjview2" version="41">
<MenuBar>
<!--
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="filter"/>
  </Menu>
-->
  <Menu name="gantt"><text>&amp;Gantt</text>
    <Action name="zoom_in"/>
    <Action name="zoom_out"/>
    <Action name="fit_to_page"/>
    <Separator/>
    <Action name="scale"/>
    <Separator/>
    <Action name="timeframe"/>
    <Separator/>
    <Action name="ps_gantt"/>
  </Menu>
  <Menu name="resource"><text>&amp;Resources</text>
    <Menu name="show_outline"><text>&amp;Outline</text>
        <Action name="collapse_all"/>
        <Separator/>
        <Action name="outline_1"/>
        <Action name="outline_2"/>
        <Action name="outline_3"/>
        <Action name="outline_4"/>
        <Action name="outline_5"/>
        <Action name="outline_6"/>
        <Action name="outline_7"/>
        <Action name="outline_8"/>
        <Action name="outline_9"/>
        <Separator/>
        <Action name="expand_all"/>
    </Menu>
    <Action name="filter_for_resources"/>
  </Menu>
  <Menu name="res_usage"><text>Resource &amp;Usage</text>
    <Action name="ru_scale"/>
    <Action name="ru_display"/>
    <Separator/>
    <Action name="ru_find"/>
  </Menu>
  <Menu name="tasks"><text>T&amp;asks</text>
    <Action name="filter_for_tasks"/>
  </Menu>
  <Menu name="reports"><text>R&amp;eports</text>
    <Action name="task_coverage"/>
    <Action name="resource_usage"/>
  </Menu>
  <Menu name="tools"><text>&amp;Tools</text>
    <Action name="build"/>
  </Menu>
  <Menu name="help"><text>&amp;Help</text>
    <Action name="keyword_help"/>
  </Menu>
</MenuBar>

<ToolBar name="sidebar" position="left" iconSize="32" iconText="icontextbottom" noEdit="true"><text>Sidebar</text>
  <Action name="sidebar_info"/>
  <Action name="sidebar_gantt"/>
  <Action name="sidebar_resources"/>
  <Action name="sidebar_res_usage"/>
  <Action name="sidebar_tasks"/>
  <Action name="sidebar_reports"/>
  <Action name="sidebar_editor"/>
</ToolBar>

<ToolBar name="ganttToolBar" noMerge="1"><text>Gantt Toolbar</text>
  <Action name="calendar_mode"/>
  <Action name="zoom_in"/>
  <Action name="zoom_out"/>
  <Action name="fit_to_page"/>
  <Action name="timeframe"/>
  <Action name="ps_gantt"/>
</ToolBar>

<ToolBar name="filterToolBar" noMerge="1"><text>Quick Search Toolbar</text>
  <Action name="quick_search"/>
</ToolBar>
</kpartgui>
