[Desktop Entry]
Encoding=UTF-8
Name=TaskJuggler IDE
Exec=ktjview2 %i %m -caption "%c"
Icon=ktjview2
Type=Application
DocPath=ktjview2/index.html
Comment=A TaskJuggler IDE for KDE
GenericName=TaskJuggler IDE
Terminal=0
MimeType=application/x-tjp;application/x-tjxml
Categories=Qt;KDE;ProjectManagement
